<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <config>
    <add key="repositoryPath" value="packages" />
  </config>
  <packageRestore>
    <!-- Allow NuGet to download missing packages

        Disabled - let user configure this the way they want

        <add key="enabled" value="True" />
         -->

    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <clear />
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="Artifactory Nuget Mirror" value="https://artifactory.ciena.com/api/nuget/nuget-gallery" />
    <add key="Artifactory Tiltmobile" value="https://artifactory.ciena.com/api/nuget/tiltmobile-nuget-gallery" />
    <add key="Artifactory OnePlanner" value="https://artifactory.ciena.com/api/nuget/oneplanner-nuget-gallery" />
  </packageSources>
</configuration>
